on:
  push:
    branches:
      - demo
jobs:
  deploy-to-cloudron-app:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Install composer dependencies
        uses: php-actions/composer@v6
      - name: Cloudron Push to App
        uses: cloudron-io/cloudron-push-to-app@latest
        with:
          # DANGER: These values are cleartext for demo purposes only. NEVER do this in production! Use GitHub Secrets instead.
          # DANGER: With this API token, anyone can fully control your Cloudron instance!
          # INFO: This TOKEN is only valid until the my.demo.cloudron.io instance is reset.
          CLOUDRON_FQDN: "my.demo.cloudron.io"
          CLOUDRON_TOKEN: "0d8117263fbd8a91db1069440f0b06921950e0a7df29c107727391aff921db45"
          CLOUDRON_APP_ID: "github"
          CLOUDRON_PUSH_DESTINATION: "/app/data/public"
          CLOUDRON_CREATE_APP_BACKUP: "true"
